:root {
    --color1: #fff;
}

.contentSection {
    max-width: 1140px;
    margin: 0 auto;
    gap: 0;
}

.containerText {
    width: 700px;
}

.containerImage {
    width: 440px;
    height: 440px;
    position: relative;
    left: 40px;
}

.directionRight .containerImage {
    left: unset;
    right: 40px;
}

.containerImage>img {
    border-radius: 1000px;
    overflow: hidden;
}

.conatinerImageLogo {
    position: absolute;
    width: 108px;
    height: 108px;
    border-radius: 141px;
    border: 4px solid var(--color1);
    background-blend-mode: overlay;
    backdrop-filter: blur(16px);
    overflow: hidden;
}

.conatinerImageLogo img {
    z-index: 1;
}

.bgLogo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px);
    opacity: 0.5;
}

.conatinerImageLogo.top {
    top: 12px;
}

.conatinerImageLogo.bottom {
    bottom: 12px;
}

.conatinerImageLogo.right {
    right: 12px;
}

.conatinerImageLogo.left {
    left: 12px;
}

.directionLeft {
    flex-direction: row;
}

.directionRight {
    flex-direction: row-reverse;
}

.titleImage {
    width: 60px;
    height: 60px;
    border-radius: 110px;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titleWrapper p {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6A6A6A;
    text-transform: uppercase;
    letter-spacing: 0.19em;
}

.titleWrapper h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
}

.conatinerTitle {
    gap: 18px;
}

.containerParagraph p {
    font-size: 19px;
    line-height: 23px;
    font-family: Inter;
    font-weight: 500;
    margin: 18px 0 0 0;
    color: #6A6A6A;
}

.conatinerLink {
    margin: 18px 0 0 0;
    gap: 6px;
}

.conatinerLink span {
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
}

.conatinerLink:hover img {
    position: relative;
    transform: translateX(3px);
}

@media only screen and (max-width: 1280px) {
    .containerImage {
        left: 0;
    }

    .contentSection {
        gap: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .contentSection {
        flex-direction: column-reverse;
    }

    .containerText {
        width: 100%;
    }

    .containerImage {
        width: 100%;
        height: 400px;
    }

    .containerImage>img {
        border-radius: 0;
    }

    .directionRight .containerImage {
        left: 0;
        right: 0;
    }

    .conatinerImageLogo.conatinerImageLogo {
        top: 24px;
        right: -12px;
        left: unset;
        bottom: unset;
        border-radius: 99px 0 0 99px;
    }
}

@media only screen and (max-width: 767px) {
    .contentSection {
        gap: 24px;
    }

    .containerText {
        padding: 0 24px 24px;
        box-sizing: border-box;
    }

    .titleWrapper h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .Sit-et-enim .bgLogo {
        background: inherit !important;
        opacity: 0;
    }
}