.btnArrowScroll {
  width: 42px;
  height: 40px;
  gap: 0;
  border-radius: 20px;
  backdrop-filter: blur(16px);
  background: #ffffff03;
  overflow: hidden;
  flex-direction: column;
  cursor: pointer;
  margin: 130px 0 0 0;
}

.scrollArrowHover {
  display: none;
}

.btnArrowScroll:hover .scrollArrow {
  display: none;
}

.btnArrowScroll:hover .scrollArrowHover {
  display: block;
}

.btnArrowScroll img {
  margin-top: -1px;
  animation: 2s arrowAnimation linear infinite;
  position: relative;
}

@keyframes arrowAnimation {

  0%,
  20%,
  60%,
  100% {
    top: 0;
  }

  35% {
    top: -3px;
  }

  45% {
    top: 3px;
  }
}