* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  box-sizing: content-box;
  direction: ltr;
  transition: 0.3s all;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style-type: none;
}

:root {
  --color1: #fff;
  --color-F8F8F8: #F8F8F8;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 500px;
  display: block !important;
}

::-webkit-scrollbar-track {
  background: #0098DA;
  ;
}

::-webkit-scrollbar-thumb {
  background: #FF9900;
  border-radius: 500px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.contentSectionContainer {
  position: relative;
}

footer {
  margin: 70px 0 0 0;
  background: var(--color-F8F8F8);
}