:root {
    --color1: #fff;
}

.menuBtn {
    gap: 6px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 12px;
}

.menuBtn:not(:hover) {
    background: none !important;
}

.menuBtn span {
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
}

.menu {
    position: sticky;
    top: 0;
    height: 115px;
    flex-direction: column;
    z-index: 1;
}

.nav {
    width: 100%;
    height: 115px;
}

.menu.sticky .nav {
    height: 67px;
    background: #FFFFFFEB;
    backdrop-filter: blur(24px);
    box-shadow: 0px 1px 4px 0px #00000012, 0px 3px 32px 0px #00000012;

}

.menu.sticky {
    height: 145px;
}

.menu.sticky nav {
    height: 145px;
}

.menu ul {
    gap: 46px;
}

.menuLogo {
    width: 100%;
    height: 78px;
    background: #FFFFFFEB;
    backdrop-filter: blur(24px);
    box-shadow: 0px 1px 4px 0px #00000012;
    transform: translateY(-76px);
    display: none;
}

.menu.sticky .menuLogo {
    display: flex;
    transform: translateY(0);
}

.menuLogoImage {
    width: 1144px;
    margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
    .menu ul {
        gap: 26px;
    }
}

@media only screen and (max-width: 980px) {
    .menu ul {
        gap: 5px;
    }

    .menuBtn span {
        font-size: 16px;
    }

    .menuBtn {
        gap: 4px;
    }
}

@media only screen and (max-width: 767px) {
    .menuBtn span {
        font-size: 17px;
    }

    .menuBtn {
        padding: 0;
    }

    .menu ul {
        gap: 24px;
        width: fit-content;
        padding: 0 24px;
        box-sizing: border-box;
    }

    .menuBtn {
        gap: 6px;
        width: max-content;
    }

    .nav {
        height: 41px;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
    }

    .nav::-webkit-scrollbar {
        display: none !important;
    }

    .menu {
        height: 41px;
    }

    .menuBtn:hover {
        background: inherit !important;
    }

    .menuLogo {
        height: 80px;
    }

    .menuLogoImage {
        width: 100%;
        margin: 0 auto;
        padding: 0 24px;
    }

    .menu.sticky .nav {
        height: 41px;
    }

    .menu.sticky {
        height: 121px;
    }
}